<title>Loading Page</title>
    <style>
        /* Loader Styles */
        .loader-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .loader {
            border: 8px solid #f3f3f3;
            border-radius: 50%;
            border-top: 8px solid #3498db;
            width: 50px;
            height: 50px;
            animation: spin 1.5s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Content Styles */
        .content {
            display: none; /* Initially hide content */
            text-align: center;
            margin-top: 20px;
        }

        /* Show content when loader is hidden */
        .loader-container.loading + .content {
            display: block;
        }
    </style>
     <div class="loader-container loading">
        <div class="loader"></div>
    </div>
    <div class="content">

<form style="" id="payuForm" action="<%= payuUrl %>" method="post">
  <% for (let key in payuData) { %>
    <input type="hidden" name="<%= key %>" value="<%= payuData[key] %>" />
  <% } %>
  <input type="hidden" name="pg" value="UPI" />
  <input type="hidden" name="bankcode" value="UPI" />
</form>
<script>document.getElementById("payuForm").submit();</script>
